<div th:replace="~{header}"/>
<body>
<h1>
    Shailendra Ahir
</h1>
<p>Simple and Stubborn</p>
<div th:insert="~{menu}"/>
<p>I am a software engineer, writing web applications using latest web technologies for a large bank.
    I studied computer science and engineering from Rajasthan Technical University, Kota at Aravali Institute of
    Technical Studies, Udaipur in 2012 - 2016.</p>

<p>I am interested in riding bikes, playing volleyball and country music in multiple languages (I start with soothing
    voice of seema mishra, and then move to gujrati, timli, punjabi, bhojpuri and finally stop at nati songs.</p>

<section>
    <h3>Recent Posts</h3>
    <p>Nothing Yet.</p>

</section>
<div th:replace="~{footer}"/>
</body>
</html>